<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <img src="assets/imgs/logo.jpg" class="app-logo"/>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">Formulario de Denuncias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding-bottom">
    Fecha y lugar de los hechos
  </div>

  <form [formGroup]="form">
    <ion-list lines="none" >
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Fecha de los hechos(*):</ion-label>
        <ion-datetime
                formControlName="dateFact"
                class="app-input"
                display-format="DD/MM/YYYY"
                picker-format="DD MMM YYYY"
                [cancelText]="DATETIME.CANCEL_TEXT"
                [doneText]="DATETIME.DONE_TEXT"
                [dayNames]="DATETIME.DAY_NAMES"
                [dayShortNames]="DATETIME.DAY_SHORT_NAMES"
                [monthNames]="DATETIME.MONTH_NAMES"
                [monthShortNames]="DATETIME.MONTH_SHORT_NAMES">
        </ion-datetime>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Entidad(s) Comprometida(s):</ion-label>
        <ion-input class="app-input" formControlName="committedEntities"></ion-input>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Departamento:</ion-label>
        <ion-select class="app-select" formControlName="department">
          <ion-select-option *ngFor="let department of departments" [value]="department.id_ubigeo">
            {{ department.nombre_ubigeo }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Provincia:</ion-label>
        <ion-select class="app-select" formControlName="province">
          <ion-select-option *ngFor="let province of provincesList" [value]="province.id_ubigeo">
            {{ province.nombre_ubigeo }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Distrito:</ion-label>
        <ion-select class="app-select" formControlName="district">
          <ion-select-option *ngFor="let district of districtsList" [value]="district.id_ubigeo">
            {{ district.nombre_ubigeo }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button
                [disabled]="form.invalid"
                (click)="next()" color="danger" class="btn-md">SIGUIENTE</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>