<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-img src="assets/imgs/logo.jpg" class="app-logo"></ion-img>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hoja de Trámite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding-bottom">
    Nro 001 - 289400
  </div>
  <ion-list lines="none" >
    <ion-item-divider>
      Documentos:
    </ion-item-divider>
    <ion-item *ngFor="let record of [1,2,3,4]">
      <ion-label>Nro 001-2894000</ion-label>
      <ion-button (click)="next()" slot="end">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>