<ion-header no-border>
    <ion-toolbar class="ion-text-center">
        <img src="assets/imgs/logo.jpg" class="app-logo"/>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-wrap">Formulario de Denuncias</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center ion-padding-bottom">
        Datos de los servidores comprometidos
    </div>
    <ion-list lines="none">
        <form [formGroup]="form" (ngSubmit)="addFunctionary()">
            <ion-item class="app-item">
                <ion-label class="app-label" position="stacked">Nombres y Apellidos(*):</ion-label>
                <ion-input class="app-input" formControlName="name"></ion-input>
            </ion-item>

            <ion-item class="app-item">
                <ion-label class="app-label" position="stacked">Puesto(*):</ion-label>
                <ion-input class="app-input" formControlName="position"></ion-input>
            </ion-item>
            <ion-item class="app-item" formGroupName="office" (click)="searchOffices()">
                <ion-label class="app-label" position="stacked">Oficina(*):</ion-label>
                <ion-input class="app-input disabled-click" formControlName="text" readonly></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-center">
                    <ion-button type="submit" color="danger" class="btn-md" [disabled]="form.invalid">
                        <ion-icon name="add" slot="start"></ion-icon>
                        Agregar
                    </ion-button>
                </ion-label>
            </ion-item>
        </form>

        <ion-item>
            <ion-grid class="table ion-no-padding">
                <ion-row class="thead">
                    <ion-col size="5" class="ion-text-center">Nombres y Apellidos</ion-col>
                    <ion-col size="7" class="ion-text-center">Oficina</ion-col>
                </ion-row>
                <ion-row class="thead" *ngFor="let item of api.functionaries; let i = index;">
                    <ion-col size="5" class="ion-text-center">{{ item.name }}</ion-col>
                    <ion-col size="5" class="ion-text-center">
                        {{ item.office.text }}
                    </ion-col>
                    <ion-col size="2" class="ion-text-center">
                        <ion-button (click)="removeFunctionary(i)" size="small" fill="clear" color="danger">
                            <ion-icon name="close" slot="icon-only"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item lines="none" *ngIf="!api.functionaries.length" >
            <ion-label class="ion-text-center ion-text-wrap ion-no-margin" color="danger">
                Debe agregar al menos un servidor comprometido
            </ion-label>
        </ion-item>
        <ion-item lines="none" >
            <ion-label class="ion-text-center">
                <ion-button
                        [disabled]="!api.functionaries.length"
                        (click)="next()" color="danger" class="btn-md">SIGUIENTE</ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<app-footer></app-footer>