<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-img src="assets/imgs/logo.jpg" class="app-logo"></ion-img>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Formulario de Denuncias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-start ion-padding-end">

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center ion-text-wrap">
        <span style="font-size: 14px; color: #999999">
          Decreto Legislativo N° 1327 y su reglamento aprobado por Decreto Supremo
          N° 010-2017-JUS Directiva N° 004-2017-MEN/SEG aprobado por Resolución Secretarial N° 036-2017-MEN/SEG
        </span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <span style="font-weight: bold;">Modalidades</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button class="btn-lg" color="dark"
                    (click)="goIdentifiedComplaint()" >DENUNCIA IDENTIFICADA</ion-button>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button class="btn-lg" color="danger"
                    (click)="goAnonymousComplaint()" >DENUNCIA ANÓNIMA</ion-button>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<app-footer></app-footer>