
.content-middle-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.option {
  width: 90%;
  height: 50%;
  max-width: 500px;
  max-height: 400px;

  img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.option.option1 {
  background: rgba(81, 80, 85, 0.69);

  ion-card-content {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.option.option2 {
  background: #fe2c1f;

  ion-card-content {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 28px;
    height: 100%;
  }

  ion-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}