<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="q"
      placeholder="Oficina">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngIf="loading">
      <ion-label class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-label>
    </ion-item>
    <ion-item button detail="false" *ngFor="let office of offices" (click)="select(office)">
      <ion-label class="ion-text-wrap">{{ office.NOMBRE }}</ion-label>
      <ion-icon slot="end" name="checkmark" *ngIf="isSelected(office)" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
