// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-content {
  --padding-top: 20px;
}

img.app-logo,
ion-img.app-logo {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  // margin-bottom: 10px
}

ion-label.app-label {
  -webkit-transform: initial !important;
  transform: initial !important;
  margin-bottom: 8px !important;
}

ion-item.app-item {
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  margin-bottom: 8px;
  --background: transparent;
}

ion-datetime.app-input,
ion-input.app-input,
ion-select.app-select {
  border: 1px solid lightgrey;
  border-radius: 10px;
  --padding-start: 8px !important;
  --padding-end: 8px;
}

ion-grid.table {
  border: 1px solid lightgrey;
  border-radius: 10px;
  min-height: 200px;

  ion-row.thead {
    border-bottom: 1px solid lightgrey;
    ion-col {
      border-right: 1px solid lightgrey;
    }
  }

}

.alert-checkbox {
  --width: 400px;
  .alert-checkbox-label {
    white-space: normal !important;
  }
  .alert-head {
    display: none;
  }
  .alert-checkbox-group {
    max-height: 340px;
    padding-bottom: 20px;
  }
}

.alert-message-lg {
  .alert-message {
    max-height: 340px;
  }
}

ion-button.btn-lg {
  height: 2.7em;
  min-width: 200px;
}

ion-button.btn-md {
  height: 2.4em;
  min-width: 200px;
}

.modal-sm {
  --width: 90%;
  --height: 600px;
  --border-radius: 4px;
  --box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12)
}

ion-input.disabled-click {
  pointer-events: none;
}