<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-img src="assets/imgs/logo.jpg" class="app-logo"></ion-img>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hoja de Trámite</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding-bottom">
    Nro 001 - 289400
  </div>
  <ion-list lines="none" >
    <ion-item class="app-item">
      <ion-label class="app-label" position="stacked">Documento:</ion-label>
      <ion-input class="app-input"></ion-input>
    </ion-item>
    <ion-item class="app-item">
      <ion-label class="app-label" position="stacked">Remitente:</ion-label>
      <ion-input class="app-input" ></ion-input>
    </ion-item>
    <ion-item class="app-item">
      <ion-label class="app-label" position="stacked">Fecha de recepción:</ion-label>
      <ion-input class="app-input" ></ion-input>
    </ion-item>
    <ion-item class="app-item">
      <ion-label class="app-label" position="stacked">Descripción:</ion-label>
      <ion-input class="app-input" ></ion-input>
    </ion-item>
    <ion-item class="app-item">
      <ion-label class="app-label" position="stacked">Asunto Adicional:</ion-label>
      <ion-input class="app-input" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button (click)="next()" color="danger">BUSCAR HOJA DE TRÁMITE</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>